.avatarImage {
    height: 200px;
    width: 200px;
}

h2 {
    color: #777777 !important;
}

/* setting color for all previously visited links */
a:visited {
    color: 6600cc !important;
  }

* {
    font-family: sans-serif;
}